#menubar
	%ul
		%li
			%form{id: 'addImage'}
				%input{type: 'text', name: 'image', id:'imageURL'}
				%button{type: 'submit'}<
					Image
		%li
			%form{id: 'addText'}
				%input{type: 'text', name: 'text', id:'text'}
				%button{type: 'submit'}<
					Text
		%li
			z-index
			%input{type: 'text', name: 'zindex', id: 'z-index', size: '5'}
	%ul{class: 'imageOptions'}
		%li
			width
			%input{type: 'text', name: 'width', id: 'width', size: '5'}
		%li
			height
			%input{type: 'text', name: 'height', id: 'height', size: '5'}
	%ul{class: 'textOptions'}
		%li
			edit text
			%input{type: 'text', name:'edittext', id:'edittext', size: '20'}
		%li
			font-size
			%input{type: 'text', name: 'fontsize', id: 'fontsize', size: '5'}



