#menubar
	%ul
		%li
			%form{id: 'addImage'}
				%input{type: 'text', name: 'image', id:'imageURL'}
				%button{type: 'submit'}<
					Add
		%li
			z-index
			%input{type: 'text', name: 'zindex', id: 'z-index'}


