#menubar
	%ul
		%li
			%form{id: 'addImage'}
				%input{type: 'text', name: 'image', id:'imageURL'}
				%button{type: 'submit'}<
					Image
		%li
			%form{id: 'addText'}
				%input{type: 'text', name: 'image', id:'imageURL'}
				%button{type: 'submit'}<
					Text
		%li
			z-index
			%input{type: 'text', name: 'zindex', id: 'z-index', size: '5'}
		%li
			width
			%input{type: 'text', name: 'width', id: 'width', size: '5'}
		%li
			height
			%input{type: 'text', name: 'height', id: 'height', size: '5'}



