body{
	background-color: gray;
}

#container{
}

#menubar{
	background-color: blue;
	position: fixed;
	height: 3em;
	top: 0;
	width: 100%;
	z-index: 1000;
	overflow: auto;
}

.page{
	margin: 4em auto 3em auto;
	height: 8.5in;
	width: 11in;
	background-color: white;
}

.imageDiv{
	position: absolute;
}

.image{
	position: absolute;
	width: 400px;
}

.textDiv{
	position: absolute;
	display: inline-block;
	margin: 0;
}

.pageText{
	position: absolute;
	text-align: left;
	overflow: visible;
}

a{
	text-decoration: none;
	color: white;
}

li{
	color: white;
	float: left;
	margin-left: 4em;
}

.selected{
    border: 2px solid gray;
}

